* {
    margin: 0;
    padding: 0;

}

.contenedor{
    background: hsla(157, 92%, 48%, 0.966);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 0em;
    grid-template-columns: 40% 60%;

}

.contenedor > .item1,
.contenedor > .item2{
    background: hsla(157, 92%, 48%, 0.966);
    padding: 10px;
    
}
.contenedor .item2{

    display: grid;
    grid-template-columns: 50% 50%;
    height: 20%;
}
.lista:hover {
    
    background: hsla(34, 79%, 62%, 0.966);

}


